{% extends "edit_account.html" %}

{% block title %}{% trans "Edit contact information" %} |{% endblock %}

{% block header%}
	<h1>{% trans "Edit contact information" %}</h1>
{% endblock %}

{% block content %}
	{{ form.errors }}
	<form method="post" action="{% url "edit_finding" user.username %}">
		{% csrf_token %}
		<h2>{% trans "Contact details" %}</h2>
		<fieldset>
			<div class="fieldWrapper">
				{{ form.email.errors }}
				<label for="id_username">{% trans "Username *" %}</label>
				{{ form.username }}
			</div>			
			<div class="fieldWrapper">
				{{ form.email.errors }}
				<label for="id_email">{% trans "E-mail *" %}</label>
				{{ form.email }}
			</div>
			<div class="fieldWrapper">
				{{ form.blog.errors }}
				<label for="id_blog">{% trans "Blog URL" %}</label>
				{{ form.blog }}
			</div>
		</fieldset>
		<h2>{% trans "Other profiles" %}</h2>
		<fieldset>
			<p class="help">{% trans "Got profiles on other sites? Enter the URLs below:" %}</p>
			{% for service in form.service_fields %}
				<div class="fieldWrapper">
					{{ service.field.errors|safe }}
					<label for="id_service_{{ service.shortname }}">{{ service.label }}</label>
					{{ service.field }}
				</div>
			{% endfor %}
		</fieldset>
		<h2>{% trans "Instant messaging" %}</h2>
		<fieldset>
			<p class="help">{% trans "Use any instant messaging software?" %}</p>
			{% for provider in form.improvider_fields %}
				<div class="fieldWrapper">
					{{ provider.field.errors|safe }}
					<label for="id_im_{{ provider.shortname }}">{{ provider.label }}</label>
					{{ provider.field }}
				</div>
			{% endfor %}
		</fieldset>

		<h2 id="privacy">{% trans "Privacy settings" %}</h2>
		<fieldset>
			<p class="help">{% trans "You can set your profile page not to show up in external search engine results (such as Google or Yahoo!)" %}</p>
			<div class="fieldWrapper radioSelect">
				{{ form.privacy_search.errors }}
				<label for="id_privacy_search">{% trans "Search visibility" %}</label>
				{{ form.privacy_search }}
			</div>
			<div class="fieldWrapper radioSelect">
				{{ form.privacy_email.errors }}
				<label for="id_privacy_email">{% trans "E-mail privacy" %}</label>
				{{ form.privacy_email }}
			</div>
			<div class="fieldWrapper radioSelect">
				{{ form.privacy_im.errors }}
				<label for="id_privacy_im">{% trans "IM privacy" %}</label>
				{{ form.privacy_im }}
			</div>
		</fieldset>

		<div class="buttonContainer"><input type="submit" value="{% trans "Save changes" %}"></div>
	</form>
{% endblock %}
