{% extends "base.html" %}
{% load staticfiles gravatar sekizai_tags %}

{% block adder %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static "djangopeople/leaflet/leaflet.css" %}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static "djangopeople/leaflet/leaflet.ie.css" %}" />
<![endif]-->
{% endaddtoblock %}

{% if debug %}
{% addtoblock "js" %}
<script src="{% static "djangopeople/leaflet/leaflet-src.js" %}"></script>
{% endaddtoblock %}
{% else %}
{% addtoblock "js" %}
<script src="{% static "djangopeople/leaflet/leaflet.js" %}"></script>
{% endaddtoblock %}
{% endif %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "djangopeople/js/maps.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	var people = [
		// latitude, longitude, name, username, location description
		{% for person in people_list %}
			[{{ person.latitude_str }}, {{ person.longitude_str }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% gravatar person.user.email 40 %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
		{% endfor %}
	];
</script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/options" class="map-options" data-zoom=5 data-max-zoom=12 data-scroll-wheel-zoom=false data-lat="19.97335" data-lon="-15.8203"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
$(function() {
	var options = {};
	$('.map-options').each(function() {
		$.extend(options, $(this).data());
	});
	options.center = new L.LatLng(options.lat, options.lon);
	delete options.lat;
	delete options.lon;
	for (key in options) {
		if (key.indexOf('-') != -1) {
			var new_key = key.split('-').map(function(s) { return s.charAt(0).toUpperCase() + s.slice(1); }).join("")
			new_key = new_key.charAt(0).toLowerCase() + new_key.slice(1);
			options[new_key] = options[key];
			delete options[key];
		}
	}

	// Enable shrink control
	if (options.shrinklon) {
		var shrink = new L.LatLng(options.shrinklat, options.shrinklon);
		delete options.shrinklat;
		delete options.shrinklon;
	}

	// Enable edition
	var edit = options.edit;
	if (options.edit) {
		delete options.edit;
	}

	var MAP = new DJMap('map', options);
	L.tileLayer('https://djangopeople-tiles-{s}.herokuapp.com/transport/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery © <a href="http://www.thunderforest.com/">Thunderforest</a>',
	    maxZoom: 18
	}).addTo(MAP);

	// Plot the people as markers
	if (typeof people != 'undefined' && people.length > 0) {
		MAP.plotPeople(people);
	}

	if (shrink) {
		MAP.shrinkable(shrink);
	}

	if (edit) {
		handleFormGeoElements(MAP);
	}
});
</script>
{% endaddtoblock %}
{% endblock adder %}
